@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html, body{
    margin: 0;
    font-family: "Ubuntu";
    background: url(../img/fond.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
    word-break: break-all;
}

#mainLayout {
    height: 100%;
    position: relative;
}

#title{
    text-align: center;
    color: white;
}

p{
    margin: 0;
    padding: 0;
}

.comdiv{
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    width: 40%;
    color: white;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    border: solid 2px white;
}

.trombi{
    margin-bottom: 15px;
    color: greenyellow;
    font-style: italic;
    text-decoration: underline;
}

.date{
    font-size: 13px;
    font-style: italic;
    margin-top: 15px;
}

@media screen and (max-width: 1100px){
    .comdiv{
        width: 50%;
    }
}

@media screen and (max-width: 900px){
    .comdiv{
        width: 60%;
    }
}

@media screen and (max-width: 750px){
    .comdiv{
        width: 90%;
    }
}

