@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

html, body{
    margin: 0;
    font-family: "Poppins";
    background: url(../img/fond.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
    min-height: 900px;
    overflow-x: hidden;
}

input, label, textarea, select{
    font-family: inherit;
    border: none;
}

#mainLayout {
    height: 100%;
    position: relative;
}

#content{
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: solid 2px white;
    background: rgba(0, 0, 0, 0.8);
    width: 35%;
}

h1{
    margin: 0;
    margin-bottom: 10px;
    color: white;
}

.interact{
    padding: 5px;
    color: orange;
    border: solid 1px white;
    border-radius: 10px;
    text-decoration: none;
}

.interact:hover{
    background: #333;
}

.input{
    padding: 5px;
    margin: 7px;
    width: 60%;
    border-radius: 5px;
    font-weight: bold;
}

.input1{
    padding: 5px;
    margin: 7px;
    width: 40%;
    border-radius: 5px;
    font-weight: bold;
}

.sexe{
    background: white;
    font-weight: bold;
}

.info{
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    color: white;
    font-size: 12px;
}

.plus{
    font-size: 15px;
    text-decoration: underline;
}

.love{
    margin: 7px;
}

label{
    color: palevioletred;
    font-size: 13px;
}

textarea{
    height: 80px;
    font-size: 16px;
}

.submit{
    margin: 15px;
    padding: 5px 10px;
    font-size: 16px;
    background: white;
}

.option{
    font-size: 13px;
    font-style: italic;
    color: goldenrod;
}

.message{
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    color: red;
    font-size: 15px;
}

@media screen and (max-width: 1200px){
    #content{
        width: 55%;
    }
}

@media screen and (max-width: 750px){
    #content{
        width: 90%;
    }
}

@media screen and (max-width: 500px){
    .input1{
        width: 70%;
    }
}