@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

html, body{
    margin: 0;
    font-family: "Poppins";
    background: url(../img/fond.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
}

#mainLayout {
    height: 100%;
    position: relative;
}

#content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 25%;
}

h1{
    margin: 0;
    padding: 5px 20px;
    border: solid 3px white;
    border-radius: 10px;
    margin-bottom: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
}

a{
    padding: 5px;
    border: solid 1px white;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background: rgba(0, 0, 0, 0.8);
}

a:hover{
    background: gray;
}

@media screen and (max-width: 1200px){
    #content{
        width: 35%;
    }
}

@media screen and (max-width: 850px){
    #content{
        width: 50%;
    }
}

@media screen and (max-width: 600px){
    #content{
        width: 70%;
    }
}

@media screen and (max-width: 500px){
    #content{
        width: 90%;
    }
}