@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html, body{
    margin: 0;
    font-family: "Ubuntu";
    background: url(../img/fond.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 700px;
    word-break: break-all;
}

p{
    color: white;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

a{
   text-decoration: none;
}

#comment, #reply{
    display: none;
}

#check:checked ~ #comment{
    display: block;
    margin: 10px auto;
    width: 90%;
    height: 90px;
    font-size: 17px;
}

#check:checked ~ #reply{
    display: block;
    margin: auto;
    font-size: 17px;
}

.red{
    color: red;
}

.blue{
    color: aqua;
    font-size: 18px;
}

.white{
    color: white;
}

.blue:hover{
    cursor: pointer;
}

input{
    background: white;
    font-size: 16px;
}

/* Couper l'écran en 2 */

.split{
    box-sizing: border-box;
    height: 100%;
    position: fixed;
    top: 0;
    overflow-y: auto;
}

.left{
    width: 30%;
    padding: 20px 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    border-right: solid 2px white;
}

.right{
    width: 70%;
    text-align: center;
    right: 0;
}

/* Gauche */

/* Prénom/Nom/Trombitag/ID/Modifier/Amis/Déconnexion */

#first{
    text-align: center;
}

#prenomNom, #trombitag{
    margin: 0;
    color: white;
}

#trombitag{
    margin: 15px 0;
}

#friends{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 3px;
}

#friends:hover{
    background: gray;
}

.interact{
    padding: 5px;
    color: orange;
    border: solid 1px white;
    border-radius: 10px;
}

.deco{
    color: red;
    font-size: 22px;
}

.ask{
    color: blue;
    background: white;
    border: none;
    cursor: pointer;
}

.delete{
    color: red;
    background: white;
    border: none;
    cursor: pointer;
}

.interact:hover{
    background: #333;
}

.ask:hover{
    background: #333;
}

.status{
    font-style: italic;
}

.accepte{
    color: greenyellow;
}

.refuse{
    color: red;
}

.supprime{
    color: orangered;
}

/* Anniversaire/Célibat/Sexe */

#second{
    margin: 50px 0;
    font-size: 0;
}

#birth, #love, #sexe{
    margin: 15px 0px 0px 15px;
}

/* Biographie/New post */

#third{
    margin-top: 50px;
    text-align: center;
}

#bio{
    margin: auto;
    margin-bottom: 25px;
    width: 90%;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    padding: 10px 0;
}

#post{
    color: deepskyblue;
    border: solid 2px white;
    padding: 6px;
    font-size: 22px;
}

#post:hover{
    background: #333;
}

/* Droite */

#topBar{
    position: fixed;
    width: 100%; 
    background: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-bottom: solid 2px white;
}

#topBar > form{
    text-align: left;
}

#barSearch{
    width: 170px;
}

/* Feed */

#feed{
    padding-top: 70px;
    padding-bottom: 10px;
}

.post{
    width: 400px;
    margin: 5px auto;
    border: solid 2px white;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px; 
}

.noPost{
    color: white;
    font-size: 18px;
}

.top{
    margin-bottom: 20px;
}

.trombitag{
    font-size: 18px;
    font-style: italic;
    text-align: left;
    margin-bottom: 3px;
    color: #FFD700;
}

#notif{
    color: greenyellow;
    font-size: 10px;
    vertical-align: top;
}

.modifier{
    text-align: left;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 3px;
}

.commentaire{
    margin: 15px 0;
    padding: 10px 0;
    text-align: center;
    font-size: 17px;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
}

.alert{
    color: orangered;
    font-style: italic;
    margin: 10px 0;
}

.pasdecom{
    font-style: italic;
    font-size: 12px;
    text-align: left;
    margin-top: 10px;
}

.comdiv{
    width: 80%;
    margin: 15px 0;
    margin-left: auto;
    border: solid 1px white;
    border-radius: 5px;
    padding: 7px;
}

.next{
    font-style: italic;
    color: aqua;
    font-size: 15px;
}

.com{
    color: white;
    font-size: 14px;
    text-align: left;
}

.trombi{
    margin-bottom: 10px;
    color: greenyellow;
    font-style: italic;
    text-decoration: underline;
}

.date{
    font-size: 12px;
    font-style: italic;
    margin-top: 5px;
    text-align: right;
}

.time{
    font-size: 13px;
    font-style: italic;
    text-align: right;
}

.edit{
    text-align: right;
    margin-top: 15px;
}

.btnModif{
    font-size: 25px;
    color: white;
}

.btnDelete{
    color: red;
    font-size: 25px;
}

.btnDelete:hover{
    color: orangered;
}


/* Pas de post */

.newPost{
    color: deepskyblue;
}

/* Responsive */

@media screen and (max-width: 1150px){
    .split{
        width: auto;
    }
    .left{
        position: relative;
        border-bottom: solid 2px white;
        border-right: none;
        padding-bottom: 25px;
    }
    .right{
        position: relative;
    }
    #second{
        text-align: center;
    }
    #birth, #love, #sexe{
        margin: 15px 0;
    }
    #topBar{
        position: relative;
        width: auto;
    }
    #feed{
        padding-top: 30px;
    }
}

@media screen and (max-width: 500px){
    .post{
        width: 85%;
    }
    .img{
        width: 90%;
    }
}