@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

html, body{
    margin: 0;
    font-family: "Poppins";
    background: url(../img/fond.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 600px;
    height: 100%;
}

input, label, textarea, select{
    font-family: inherit;
    border: none;
}

#mainLayout {
    height: 100%;
    position: relative;
}

#content{
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: solid 2px white;
    background: rgba(0, 0, 0, 0.8);
    width: 30%;
}

input{
    background: white;
    margin-bottom: 10px;
}

p{
    color: white;
    margin: 0;
    padding: 0;
    font-size: 13px;
}

.last{
    margin-bottom: 15px;
}

.message{
    color: red;
    font-size: initial;
}

/* Titre */

#title{
    margin: 5px;
    margin-bottom: 15px;
    color: white;
}

/* Form */

form{
    margin-top: 30px;
}

#label{
    color: white;
}

#text{
    width: 80%;
    height: 120px;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
}

#submit{
    font-size: 16px;
}

.attention{
    margin-top: 10px;
    color: orangered;
}

#profil{
    padding: 5px;
    color: orange;
    border: solid 1px white;
    border-radius: 10px;
    text-decoration: none
}

#profil:hover{
    background: #333;
}

@media screen and (max-width: 1200px){
    #content{
        width: 55%;
    }
}

@media screen and (max-width: 700px){
    #content{
        width: 90%;
    }
}