@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html, body{
    margin: 0;
    font-family: "Ubuntu";
    background: url(../img/fond.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 650px;
    height: 100%;
}

a{
    color: white;
    text-decoration: none;
}

#mainLayout{
    height: 100%;
}

/* Top bar */

#topBar{
    padding: 10px 0;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    border-bottom: solid 2px white;
    z-index: 1;
}

#title{
    margin: 0;
    color: white;
    text-align: center;
}

#profil{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

#profil > a{
    padding: 5px;
    color: orange;
    border: solid 1px white;
    border-radius: 10px;
}

#profil > a:hover{
    background: gray;
}

#text{
    margin: 0;
    border-top: solid 1px white;
    padding: 0;
    padding-top: 5px;
    color: white;
    text-align: center;
}

#notif{
    color: greenyellow;
    font-size: 10px;
    vertical-align: top;
}

/* Résultats */

#result{
    position: relative;
    z-index: 0;
    top: 190px;
    padding-bottom: 20px;
}

.line{
    cursor: pointer;
    width: 40%;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin: 15px auto;
    margin-top: 0;
    border: solid 1px white;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
}

.line:hover{
    background: black;
}

.red{
    color: red;
}

.form{
    margin: 10px;
}

.option{
    padding: 2px 5px;
    border-radius: 10px;
    border: solid 1px white;
    cursor: pointer;
    color: white;
    font-size: 18px;
}

.option:hover{
    opacity: 0.9;
}

.accepter{
    background: green;
}

.refuser{
    background: red;
}

/* Pas de résultat */

#noResult{
    cursor: pointer;
    width: 40%;
    background: rgba(0, 0, 0, 0.7);
    margin: 15px auto;
    margin-top: 0;
    padding: 20px 5px;
    border: solid 1px white;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 20px;
}

@media screen and (max-width: 800px){
    .line{
        width: 80%;
    }
    #noResult{
        width: 80%;
    }
}